<?xml version="1.0" encoding="UTF-8"?>
<phpunit
        displayDetailsOnTestsThatTriggerWarnings="true"
        displayDetailsOnIncompleteTests="true"
        displayDetailsOnSkippedTests="true"
        colors="true"
        cacheResult="false"
        bootstrap="vendor/autoload.php">
    <testsuites>
        <testsuite name="Telegram Core">
            <directory>Tests/</directory>
        </testsuite>
    </testsuites>
</phpunit>
